/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.available {
    background-color:rgba(146, 241, 80, 0.40);
}

.limited {
    background-color:rgba(239, 194, 18, 0.40);
}

.unavailable {
    background-color: rgba(255, 46, 17, 0.40);
}